<div class="cinema-nav">
  <div class="cinema-nav-item" id="coding-nav">
    <div class="title">Coding</div>
  </div>
  <div class="cinema-nav-item" id="gaming-nav">
    <div class="title">Gaming</div>
  </div>
  <div class="cinema-nav-item" id="tabletop-nav">
    <div class="title">Table Top</div>
  </div>
</div>
