<div class="cinema-nav" role="navigation">
  <a class="cinema-nav-item" id="coding-nav" href="#">
    <div class="title">Coding</div>
  </a>
  <a class="cinema-nav-item" id="gaming-nav" href="#">
    <div class="title">Gaming</div>
  </a>
  <a class="cinema-nav-item" id="tabletop-nav" href="#">
    <div class="title">Table Top</div>
  </a>
</div>
