// Variables File for SASSS files.

// General Variables
$assets_path: "/assets/";


// Image Files

$gaming_link_background: $assets_path + "gaming_place_holder.jpg";
$coding_link_background: $assets_path + "coding_place_holder.jpg";
$tabletop_link_background: $assets_path + "tabletop_place_holder.png";







// Bootstrap Overrides
$enable-flex: true;