<!DOCTYPE html>
<html>
  <head>
    <title>Late Night Tester's Blog</title>
    <%= favicon %>
  </head>
  <body>
    <header>
      <h2>Late Night Tester's Blog</h2>
    </header>
    <%= yield %>
  </body>
</html>
