<!DOCTYPE html>
<html>
  <head>
    <title>Xetoris' Blog</title>
    <%= favicon %>
    <script type="text/javascript" src="<%= asset_url 'bower/webcomponentsjs/webcomponents.js' %>"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
