<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Xetoris' Blog</title>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS, Site CSS -->
    <%= stylesheet 'personal_blog.css', 'jquery.fullpage.min.css' %>
  </head>
  <body>
    <div id="title-label">Xetoris</div>
    <%= yield %>

    <!-- jQuery first, then Bootstrap JS. -->
    <%= javascript 'jquery.min.js', 'tether.min.js', 'bootstrap.min.js' %>
  </body>
</html>